.props{
    display: inline-block;
    margin: 10px;
}
img{
    width: 320px;
    height: 220px;
    
}
h2{
    text-align: center;
}
.wrap{
    text-align: center;
    background: gray;
    color: #fff;
    margin-top: -25px;
    height: 120px;
}
